body {
    background-image: url("../images/realistic-galaxy-milky-way.png");
    color: greenyellow 
}

#newGame {
background-color: greenyellow;
color: black
}

#timer{
    font-size: 30px;
    float: right;
}

#question{
font-size: 24px
}

#answers{
    font-size: 20px
}

